<div class='travel'>
  <h5>{{title}}</h5>
  <img src="http://www.innatlagunabeach.com/wp-content/uploads/2013/12/InnLagunaBeach112.jpg">
  <a href="/" class='link-public-travel' data-travel='{{id}}' data-user='{{user_id}}'>See more</a>
</div>