<section id='content'>
  <a href='/' class='link-travel' data-id='1'>Travel</a>
  <a href='/' class='link-travel' data-id='2'>Travel</a>
  <a href='/' class='link-travel' data-id='3'>Travel</a>
  <a href='/' class='link-travel' data-id='4'>Travel</a>
  <a href='/' id='link-travel-new' >New Travel</a>
</section>