<section id='content'>
  <a href='/' class='link-travel' data-id='1'>Travel1</a>
  <a href='/' class='link-travel' data-id='2'>Travel2</a>
  <a href='/' class='link-travel' data-id='3'>Travel3</a>
  <a href='/' class='link-travel' data-id='4'>Travel4</a>
  <a href='/' id='link-form-new' >New Travel</a>
</section>