#profile-img {
  width: 230px;
  border: 1px solid #D7D9DF;
  border-radius: 10px;
  margin-bottom: 15px;
}

.user-info {
  padding-top: 30px;
  padding-left: 60px;
  font-size: 13px;
}

.user-profile {

}

.user-travels {
  .travel {
    text-align: center;
    float: left;
    border: 1px solid #D7D9DF;
    border-radius: 10px;
    height: 400px;
    width: 240px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 20px;

    img {
      width: 170px;
      margin-bottom: 15px;
    }
  }

}

.user-travelers {
  .traveler {
    text-align: center;
    float: left;
    border: 1px solid #D7D9DF;
    border-radius: 10px;
    width: 160px;
    height: 210px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 10px;

  img {
    width: 100px;
  }
}
}

.form-traveler {
  img {
    width: 100px;
  }
}
