@import 'variables';

* {
  a {
    color: black;
  }
  a:hover {
    color: black;
    text-decoration: none;
  }
}

header {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  background: url("/assets/header.jpg") right;
  height: 100px;
  padding: 10px;

  -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.19);

  .header-name {
    font-weight: bold;
  }

  .errors {
    padding-top: 0px;
  }

  .login {
    text-align: right;
    .actions {
      margin-right: 5px;

    }
  .label {
    font-size: 15px;
  }
  }
  
  #logo {
    position: absolute;
    height: 140px;
    top: -10px;
    left: -2px;
    z-index: 100;
  }
  
  #title {
    font-size: 45px;
    margin-left: 110px;
    margin-top: 25px;
    font-family: 'Special Elite', cursive;
  }

  #user-header {
    background-color: rgb(249, 248, 245);
  }
  #user-reg {
    background-color: $background;
  }
  #link-logout {
    font-size: 16px;
  }
  input#login_user_email {
    width: 210px;
    height: 24px;
    margin-top: 3px;
    margin-right: 20px;
  }
  input#login_user_password {
    width: 210px;
    height: 24px;
    margin-top: 1px;
    margin-right: 20px;
  }
  input#btn-login {
    margin-right: 20px;
    height: 25px;
    margin-bottom: 2px;
  }
}

.center {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  background-color: $background;
  min-height: 660px;
  
  #aside {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    #search-form {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 15px;
      -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
      -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
      box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.19);
      

      padding: 10px;
      margin-top: 20px;
      margin-left: 20px;
      height: 620px;
      color: black;
      background-color: $background;
      
      label.initial-date {
        margin-top: 20px;
      }
      label.tags {
        margin-top: 35px;
      }
      .input.initial-date {
        margin-left: 50px;
      }
      .input.final-date {
        margin-left: 56px;
      }
      .input.country {
        margin-left: 73px;
      }
      .input.place {
        margin-left: 89px;
      }
      .select.budget {
        margin-left: 77px;
        width: 100px;
      }
      input.tags {
        margin-right: 15px;
      }
      button {
        width: 120px;
        height: 30px;
        background-color: $white;
        margin-top: 10px;
        margin-left: 80px;
        border:none;
        border-radius: 2px;
      }
      button:hover {
        background-color: $white;
        box-shadow: none;
      }

      button:visited {
        background-color: $white;
        box-shadow: none;
        border: 1px solid black;
      }
      
    }

  }
  
  .main {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;

    .travel {
      text-align: center;
      float: left;
      height: 270px;
      width: 240px;
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: $white;
      -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
      -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
      box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.19);

      h5 {
        color: black;
        margin-top: -2px;
        margin-bottom: 2px;
      }

      img {
        width: 100%;
        height: 210px;
        opacity: 0.85;
      }

      a {
        display: block;
        margin-top: -10px;
        color: black;
      }
    } 
  }


}

footer {
  background-color: $background;
  height: 35px;
  -webkit-box-shadow: 0px -3px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    0px -3px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow:         0px -3px 5px 0px rgba(50, 50, 50, 0.19);
}