@import 'variables';

aside {
  min-width: 190px;
}
.user-info {
  max-width: 310px;
  min-width: 200px;
  padding-top: 20px;
  padding-left: 25px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  background-color: $white;

  #profile-img {
    width: 160px;
    border: 1px solid #D7D9DF;
    margin-bottom: 15px;
  }
}

.user-links {
  max-width: 310px;
  min-width: 200px;
  min-height: 170px;
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: 15px;
  margin-left: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  background-color: $white;
  h6 {
    font-size: 16px;
  }
  margin-bottom: 20px;
}

.user-profile {

}

.user-trav {
  min-width: 730px;
}

.user-travelers {
  min-width: 180px;
}

.user-travels {
  margin-left: -50px;
}
.user-travels-joined {
  margin-top: 50px;
  margin-left: -50px;
}
.traveler {
  float: left;
  text-align: center;
  width: 170px;
  height: 170px;
  margin-left: 20px;
  margin-top: 20px;
  font-size: 16px;
  background-color: $white;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);

  img {
    width: 123px;
  }
  h5 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}



.form-traveler {
  img {
    width: 100px;
  }
}

.travel {
  img {
    height: 280px;
    margin-bottom: 15px;
  }
}

.travel-img {
  img {
    width: 200px;
    height: 350px;
    margin-top: 30px;
  }
}

.form-signup {
  padding: 30px;
  img.avatar {
    width: 100px;
  }
  label.avatar {
    margin-top: 30px;
  }
  input#user_first_name {
    margin-left: 50px;
  }
  input#user_last_name {
    margin-left: 51px;
  }
  input#user_address {
    margin-left: 67px;
  }
  input#user_city {
    margin-left: 93px;
  }
  input#user_country {
    margin-left: 68px;
  }
  input#user_date_of_birth {
    margin-left: 35px;
  }
  input#user_telephone {
    margin-left: 51px;
  }
  input#user_email {
    margin-left: 83px;
  }
  input#user_password_confirmation {
    margin-left: 68px;
  }
  .select.gender {
    margin-left: 150px;
  }
}
