@import 'variables';

.user-info {
  padding-top: 20px;
  padding-left: 25px;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  background-color: white;

  #profile-img {
    width: 170px;
    border: 1px solid #D7D9DF;
    margin-bottom: 15px;
  }
}

.user-links {
  padding-top: 20px;
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 20px;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  background-color: white;
}

.user-profile {

}

.traveler {
  float: left;
  text-align: center;
  width: 170px;
  height: 170px;
  margin-left: 20px;
  margin-top: 154px;
  font-size: 12px;
  background-color: white;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.19);
  box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.19);

  img {
    width: 118px;
  }
  h5 {
  }
}



.form-traveler {
  img {
    width: 100px;
  }
}

.travel {
  img {
    height: 280px;
    margin-bottom: 15px;
  }
}

.travel-img {
  img {
    width: 200px;
    height: 350px;
    margin-top: 30px;
  }
}
