//colors

$color-header: #D7D9DF;
$color-aside: rgba(241, 244, 244, 0.45);
$color-main: #f1f4f4;

$black: #161517;
$letra: #f8deab;
$blue: #024A76;
$redd: #e04c5a;
$red: white;
$white: #ddd;
$yellow: #C3832A;
$background: rgba(231, 223, 212, 0.24);
$footer: #E6DED3;
$background2: rgba(142, 131, 120, 0.04);
