<div id='user-reg'>
  <div class='header-name'>Welcome {{first_name}} {{last_name}}</div>
  <a href="/" id='link-logout'>Log Out</a><br>
  <a href="/" id='load-home'>Home</a><br>
  <a href="/" id='btn-profile'>My profile</a>
</div>