<div class='form-signup'>
  <form class="new_user" id="new_user" action="/" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" id='authenticity_token' name="authenticity_token" />

    <label for="user_first_name">First Name</label>
    <input type="text" name="user[first_name]" id="user_first_name" /><br>

    <label for="user_last_name">Last Name</label>
    <input type="text" name="user[last_name]" id="user_last_name" /><br>

    <label for="user_address">Address</label>
    <input type="text" name="user[address]" id="address_name" /><br>

    <label for="user_city">City</label>
    <input type="text" name="user[city]" id="user_city" /><br>

    <label for="user_country">Country</label>
    <input type="text" name="user[country]" id="user_country" /><br>

    <label for="user_date_of_birth">Date of birth</label>
    <input type="date" name="user[date_of_birth]" id="user_date_of_birth" /><br>

    <label for="user_telephone">Telephone</label>
    <input type="number" name="user[telephone]" id="user_telephone" /><br>

    <label for="user_email">Email</label>
    <input type="email" value="" name="user[email]" id="user_email" /><br>

    <label for="user_password">Password</label>
    <em>(8 characters minimum)</em>
    <input autocomplete="off" type="password" name="user[password]" id="user_password" /><br>

    <label for="user_password_confirmation">Password confirmation</label>
    <input autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation" /><br>

    <input id='btn-register' type="submit" name="commit" value="Sign up" />

  </form>
</div>