<div class='user-profile'>
  
  <div class='col-xs-3 user-travelers'>
  </div>
  <div class='col-xs-9'>
    <div class='row user-travels'>
    
    </div>

    <div class='row user-travels-joined'>
      
    </div>
  </div>
</div>