<div class='user-profile'>
  
  <div class='col-sm-3 user-travelers'>
  </div>
  <div class='col-sm-9' user-trav>
    <div class='row user-travels'>
    
    </div>

    <div class='row user-travels-joined'>
      
    </div>
  </div>
</div>