<!DOCTYPE html>
<html>
<head>
  <title>Travelholic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class='row'>

  <div class='col-sm-9'> 
    <a href='/' id='load-home'><img id='logo' src='/assets/logo.png'></a>
    <div id='title'>TRAVELHOLIC</div>
  </div>

  <div class='login col-sm-3'>
    <div id='user-header'></div>
  </div>

</header>

<section class='row center'>

  <aside class='col-sm-3 aside'>
    <section id='aside'>
      
    </section> 
  </aside>

  <section class='col-sm-9 main'>
    <section id='content'>
      <%= yield %>
    </section>
  </section>

</section>

<footer class='row'></footer>

<%= javascript_include_tag 'application' %>

</body>
</html>
